.abt{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.caim{
    width: 25vw;
    height: 10vw;
    object-fit: cover;
}
@media screen and (max-width: 768px) {
    .caim{
        height: 25vh;
    }
    .parallax .scroller {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 32px !important;} 
    .abt{
        width: 85%;
    }   
}
.caim{
    width: 100%;
}

.footp{
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*scrolling text*/
.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--accent);
    bottom: 100px;
  }
  
  .parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
  }
  
  .parallax .scroller {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 64px;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .parallax .span {
    display: block;
    margin-right: 30px;
  }