
@font-face {
  font-family: "Gt-America-EB";
  src: url(/GT-America-Expanded-Black.woff) format("woff");
}
@font-face {
  font-family: "Gt-America-EL";
  src: url(/GT-America-Expanded-Light.woff) format("woff");
}
@font-face {
  font-family: "Eudoxus";
  src: url(/EudoxusSans-Regular.woff) format("woff");
}
.active {
  background-color: var(--pink);
  transition: all ease-in-out;
  animation-duration: 0.3s;
}

body{
  background-color: var(--white) !important;
}

* {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: auto;
  text-wrap: balance !important;

}
h1,
h3,
h4,
h5,
h6,
h7,
h2,
p {
  color: var(--tb);
}
body,
html {
  border: 0;
  height: 100%;
}
body {
  background-color: var(--white);
  height: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

textarea {
  overflow: auto;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--white);
  padding: 10px 0;
  z-index: 100;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin: 0 auto;
}
* {
  transition: background-color 0.5s ease-in-out;
}
:root {
  --pink: #EDCDC2;
  --blue: #57aef5;
  --green: #41d1bc;
  --tb: #252422ff;
  --white:#f4f4f4ff  ;
  --black:#1F1E1C;
}
html[data-theme='light'] {
  --pink: #EDCDC2;
  --blue: #57aef5;
  --green: #41d1bc;
  --tb: #252422ff;
  --white:#f4f4f4ff  ;
  --black:#1F1E1C;
}
html[data-theme='dark'] {
  --pink: #EDCDC2;
  --blue: #57aef5;
  --green: #41d1bc;
  --tb: #ffff;
  --white:#BE3455 ;
  --black:#ff8370 ;
--background:#1F1E1C;
.iconf{
  filter: invert(1);
}
.inicli{
  filter: invert(1);

}
.svco{
  filter: invert(1);}
.logoa{
  filter: invert(1);
}

}
html[data-theme='light'],
html[data-theme='dark'] {
  transition: background-color 0.5s ease-in-out;
}
::selection {
  background: var(--tb);
  color: var(--white);
}

h1,
h4,
h5,
h6 {
  font-family: Gt-America-EL;
}
h2 {
  font-family: Gt-America-EL;
}
h3,
p {
  font-family: Eudoxus;
}
span {
  color: var(--tb);
  font-family: Gt-America-EB;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 700;
  line-height: 1.3;
}

p {
  margin-bottom: 1rem;
}

h1 {
  margin-top: 0;
  font-size: 5.653rem;
}

h2 {
  font-size: 3.998rem;
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 1.999rem;
  font-family: Eudoxus;
}

h5 {
  font-size: 1.414rem;
  font-weight: 100;
  font-family: Gt-America-EL;
}
h6 {
  font-size: 1rem;
  font-family: Eudoxus;
  font-weight: 100;
}
h7{
  font-size: 1.2rem;
  font-family: Gt-America-EL;
  font-weight: 100;
  line-height: 1.2em;
  margin-top: .6em;
}
small,
.text_small {
  font-size: 1.2rem;
  font-family: Eudoxus;
}
@media screen and (max-width: 1000px) {
  .hod{
    display: inline-block !important;
  }
  .hom{
    display: none !important;
  }
}
@media screen and (max-width: 769px) {
  h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 380px) {
  h1 {
    font-size: 25px;
  }
  .iconf{height: 18px !important;}
}

/*horizontal scroll importante*/
.horizontalbar {
  background-color: var(--tb);
  height: 2px;
  width: 40px;
  top: 0;
  display: flex;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  position: absolute;
}
.containerhz {
  padding: 5rem;
}
.sticky_parent {
  width: 100%;
  height: 200vh;
  position: initial;
  margin: 0;
}
.sticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}
.scroll_section {
  will-change: transform;
  position: absolute;
  top: 0;
  height: 100%;
  width: 200vw;
  will-change: scroll-position;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0vw;
}

.imgs {
  width: 400px;
  height: 80%;
  object-fit: cover;
  object-position: center;
}
.hzc {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 0 36px;
}
.imc {
  width: 30vw;
}
.imc:hover {
  filter: saturate(1.05) contrast(1.05);
  transition: ease-in-out;
}
.texthz {
  width: 30vw;
  padding-top: 15vh;
  padding-left: 36px;
}
.pahz {
  display: flex;
  flex-direction: row;
  width: 100vw 100% !important;
}
.pppphz {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.imch {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 769px) {
  h6{
    font-size: .9rem;
  }
  h4{
   font-size: 1.5rem;
  }
  h2{
    font-size: 2.5rem;
  }
  .pahz {
    margin: 0 10vw;
  }}

  @media screen and (max-height: 500px) and (orientation: landscape){
    h1, h2, h3, h4, h5 {
      margin: .7rem 0 1.38rem !important; }
    h6{
      font-size: .9rem !important;
    }
    h4{
     font-size: 1.5rem !important;
    }
    h2{
      font-size: 1.5rem !important;
    }
    .pahz {
      margin: 0 10vw !important;
    }
  }  
  .sticky_parent {
    height: 450vh;
  }
  .scroll_section {
    width: 1300vw;
    height: 100%;
  }
  .texthz {
    width: 80vw;
  }
  .imc {
    width: 70vw;
    object-fit: cover !important;
  }

.space{
  height: 10vh;
}
.spacesm{
  height: 5vh;
}
.spacel{
  padding-left: 7.5%;
}
.hod{
display: none;
}
.hom{
display: inline-block;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.logoa {
  transform: rotate(0deg); /* Set the initial transform to 0deg */
  transition:all transform 0.5s ease-out; /* Add a transition for smooth animation */
}

.logoa:hover {
  transform: rotate(36deg); /* Apply the hover state transformation */
  animation: rotate 1s ease-in-out infinite; /* Add the animation */
}


.new{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.new:hover{
  filter: saturate(1.01) contrast(1.01);
  transition:all ease-in-out ;
  transition-duration: .5;
  scale: 1.05;
}



.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: .75rem;
  background-color: var(--black);
  color: var(--black);
  font-weight: 600;
  padding: .75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .3s;
}
button{
  cursor: pointer;
}


a{
  cursor: pointer;
  text-decoration: none var(--tb);
}
.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: var(--black);
  scale: 1.05;

}

.button:hover .button__icon-wrapper {
  color: var(--black);
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform .3s ease-in-out;
  transform: translate(150%, -150%);
  scale: .95;
}

.button:hover .button__icon-svg--copy {
  transition: transform .3s ease-in-out .1s;
  transform: translate(0);
  scale: .95;

}
.button:active{
  scale: 1.2;
  transition: all ease-in-out;
}
.button:hover{
  filter: invert(1);
}



.anwor{
  white-space: nowrap;
  position: relative;

}
.anle{
  position: relative;
  display: inline-block;
  white-space: nowrap;
  line-height: 0rem;
}
.anli
{position: absolute;
top: 0;}
.horizontalbar{
  background-color: var(--tb);
  height: 2px;
  width: 40px;
  top: 0;
  display: flex;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  position: absolute;
}
.anle:hover{color: var(--tb);scale: 1.05; transition: all ease-in-out;}

.w3rcontainer{
  border: 1px solid 
var(--tb);
  border-radius: 2px;
} 
*{
  text-wrap: balance !important;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  var(--white);
  z-index: 100;
  
}
.wmpmm{
  width: 100%;
  height: 100vh;
  background-color: var(--white);
}


.iconf{
  height: 24px;
  width: auto;  
  opacity: .79;
  scale: .8;
}
.iconf:hover{
opacity: 1;
scale: 1;

}


